@tailwind base;
@tailwind components;
@tailwind utilities;


.marquee-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    white-space: nowrap;
}

.marquee {
    display: flex;
    animation: scroll 15s linear infinite;
}

.marquee-2 {
    display: flex;
    animation: right 15s linear infinite;
}

.marquee-content {
    display: flex;
    gap: 24px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Scroll exactly half the width */
    }
}

@keyframes right {
    0% {
        transform: translateX(-50%); /* Start halfway left */
    }
    100% {
        transform: translateX(0); /* Move content to the right */
    }
}

.button {
    transition: background-color 0.3s ease;
}

.icon-container {
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #191b1f;
    transition: background-color 0.3s ease;
}

.button:hover .icon-container {
    background-color: #075097;
    transition: background-color 0.3s ease;
}

.hover-parent:hover h1, 
.hover-parent:hover p {
    color: white;
}

.arrow-container:hover i {
    content: "\f106"; 
}

.hover-parent:hover .arrow-container {
    background-color: #075097;
    color: #fff;
    border: none;
}


.faq-content {
    display: none;
    transition: max-height 0.3s ease-out;
}

.faq-item.open .faq-content {
    display: block;
    max-height: 1000px; /* Adjust if needed */
}

.arrow-container {
    transition: transform 0.3s ease;
}


.swiper-button-prev-1, .swiper-button-next-1 {
    background-color: rgba(109, 179, 248, 1); 
}

.swiper-button-prev-1.swiper-button-active, 
.swiper-button-next-1.swiper-button-active {
    background-color: #075097; 
}

.fade-in {
    opacity: 1;
    transition: opacity 1s linear; 
}

